/* HeaderCanvas.module.scss */

.canvas {
  position: relative;
  width: 100%;
  height: 180px;
  border: 1px dashed #ccc;
  background: #fff;
}

.block {
  width: 100%;
  height: 100%;
  border: 1px solid #1890ff;
  background: #fafafa;
  cursor: move;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  color: #999;
  font-weight: 600;
}

.text {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
