/* HeaderCanvas.module.scss */

.canvas {
  position: relative;

  /* A4 dọc */
  width: 794px;
  height: 180px;

  margin: 0 auto;
  background: #fff;

  border: 1px dashed #ccc;
  box-sizing: border-box;

  /* Rất quan trọng cho in */
  overflow: hidden;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.06) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.06) 1px, transparent 1px);
  background-size: 19px 19px; /* ~5mm */
}

.block {
  width: 100%;
  height: 100%;
  border: 1px solid #1890ff;
  background: #fafafa;
  cursor: move;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  color: #999;
  font-weight: 600;
}

.text {
  width: 100%;
  text-align: left;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
