.hover-popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fadeIn 0.3s ease;
}

.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 500px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  animation: scaleIn 0.25s ease;
}

.popup-desc {
  margin-top: 10px;
  color: #444;
  font-size: 15px;
  line-height: 1.5;
  text-align: start;
}

.popup-close {
  margin-top: 20px;
  background: #04580f;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
}
.avatar-wrapper-avatar {
  height: 100px;
  width: 100px;
}
.popup-content_avatar {
  height: 160px;
  width: 160px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .avatar-wrapper-avatar {
    height: 70px;
    width: 70px;
  }
  .doctor-name {
    font-size: 10px;
  }
  .popup-content_avatar {
    height: 80px;
    width: 80px;
  }
  .popup-content_name {
    font-size: 10px;
  }
  .popup-desc {
    font-size: 8px;
  }
}
