.page {
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.filters {
  margin-bottom: 12px;

  :global(.ant-card-head-title) {
    display: flex;
    align-items: center;
  }

  label,
  span {
    display: block;
    font-size: 12px;
    color: #555;
    margin-bottom: 6px;
  }
}

.table {
  background: #fff;
}

.filterCard {
  margin-bottom: 16px;
  border-radius: 10px;
  background: #fafcff;

  :global {
    .ant-card-head {
      background: #f5f8ff;
      border-radius: 10px 10px 0 0;
    }

    .ant-form-item {
      margin-bottom: 8px;
    }

    label {
      font-weight: 500;
      color: #444;
    }
  }
}
