.formVer2Editor {
  width: 100%;
  min-height: 500px;
  height: 100%;
  margin-bottom: 0;
}

.abnormalSection {
  margin-top: 20px;
  padding-top: 12px;
  border-top: 1px solid #555;
  color: #ffffff;

  .title {
    font-weight: 600;
    margin-bottom: 8px;
  }

  .row {
    display: grid;
    grid-template-columns: 40px 200px 1fr;
    gap: 8px;
    margin-bottom: 6px;
    align-items: center;
  }

  :global(.ant-input) {
    // background-color: #1f1f1f;
    // border: 1px solid #555;
    color: #ffffff;
  }
}
