.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin-bottom: 24px;
  h2 {
    color: #002766;
    font-size: 1.6rem;
    font-weight: 600;
  }
}
.wrapper_cards {
  display: flex;
  flex-wrap: wrap;
}
