.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  top: 0;
  right: -5px;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  z-index: 10;
}

.ant-table {
  table-layout: fixed !important;
}

.ant-table-cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
