// .react-resizable {
//   position: relative;
//   background-clip: padding-box;
// }

.react-resizable-handle {
  position: absolute;
  right: -2px;
  bottom: 0;
  z-index: 100;
  width: 1px;
  height: 100%;
  cursor: col-resize;
  background-color: rgba(134, 216, 189, 0.356);
}
