.image-gallery {
  display: flex;
  flex-direction: column; /* Sắp xếp theo chiều dọc */
  margin: 20px auto; /* Khoảng cách trên và dưới, căn giữa */
  max-width: 1100px; /* Đặt độ rộng tối đa bằng với độ rộng của OtherAssessmentTable */
  width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng của phần tử cha */
  justify-content: center;
  align-items: center;
}

.gallery-title {
  background-color: rgb(186, 215, 233);
  color: rgba(0, 0, 0, 0.88);
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  width: 95%;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cột */
  gap: 10px; /* Khoảng cách giữa các hình ảnh */

}

.image-item {
  overflow: hidden; /* Đảm bảo hình ảnh không tràn ra ngoài */
  border: 1px solid #d1d1d1; /* Đường viền cho hình ảnh */
  border-radius: 5px; /* Bo góc cho hình ảnh */
  background-color: #e6f7ff; /* Màu nền cho hình ảnh */
  height: 300px; /* Chiều cao cố định cho hình ảnh */
  width: 300px;
  padding: 10px;
}

.image-item img {
  width: 100%; /* Đặt chiều rộng hình ảnh bằng 100% của phần tử cha */
  height: 100%; /* Đặt chiều cao hình ảnh bằng 100% của phần tử cha */
  object-fit: cover; /* Đảm bảo hình ảnh vừa khớp với khung mà không bị biến dạng */
  display: block; /* Loại bỏ khoảng trắng bên dưới hình ảnh */
}
