:global(.smallSelect) {
  .ant-select-selector {
    min-height: 28px !important;
  }

  .ant-select-selection-item,
  .ant-select-selection-placeholder {
    font-size: 11px !important;
    line-height: 26px !important;
  }
}

.patientTable {
  :global {
    .ant-table-thead > tr > th {
      padding: 4px 6px; // 👈 thu gọn chiều cao header
      line-height: 1;
    }
  }
}

.selectedRow {
  background-color: #b8daf3 !important; // xanh nhạt chuẩn AntD
  transition: background 0.2s ease;

  &:hover {
    background-color: #bae0ff !important;
  }
}
