:global(.patientTable) {
  .ant-table,
  .ant-table th,
  .ant-table td,
  .ant-table .ant-table-cell {
    font-size: 16px !important;
  }

  .ant-btn,
  .ant-input,
  .ant-select,
  .ant-radio-wrapper,
  .ant-picker {
    font-size: 16px !important;
  }
}
