:global(.smallSelect) {
  .ant-select-selector {
    min-height: 28px !important;
  }

  .ant-select-selection-item,
  .ant-select-selection-placeholder {
    font-size: 12px !important;
    line-height: 26px !important;
  }
}
