.account-page {
  padding: 24px;
  background: #f9f9f9;
}

.account-page__tabs :global(.ant-tabs-nav) {
  margin-bottom: 24px;
}

.account-page__content {
  display: flex;
  gap: 24px;
}

.account-page__sidebar {
  width: 200px;

  &-item {
    padding: 12px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: #f0faff;
    }
  }
}

.account-page__details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.account-page__card {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
}

.account-page__profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;

  h3 {
    margin: 0;
    font-size: 16px;
  }

  p {
    margin: 0;
    font-size: 13px;
    color: #666;
  }
}

.account-page__section-title {
  font-weight: 600;
  margin-top: 16px;
}

.account-page__notification {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;

  &-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-group {
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.account-page__token-card {
  margin-top: 24px;

  p {
    margin: 4px 0;
  }

  .token {
    font-family: monospace;
    font-size: 13px;
    word-break: break-all;
  }

  .enabled {
    color: #1aa33b;
    font-weight: 600;
  }
}
.change-password-form {
  max-width: 500px;
  margin: auto;
  .ant-form-item-label > label {
    font-weight: 500;
  }

  .ant-input,
  .ant-input-password {
    border-radius: 8px;
  }
}

.password-note {
  margin-top: -8px;
  margin-bottom: 16px;

  ul {
    padding-left: 20px;
    margin: 4px 0;
    color: #666;
    font-size: 13px;

    li {
      list-style: disc;
      list-style: none;
    }
  }
}
.account-page__content-child {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  &:hover {
    background-color: #666;
  }
}
