.imagingTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;

  thead {
  }

  th,
  td {
    border-bottom: 1px solid #555;
    padding: 8px 10px;
    vertical-align: middle;
  }

  th {
    font-weight: 600;
    text-align: left;
  }

  td {
  }

  /* STT */
  th:first-child,
  td:first-child {
    width: 60px;
    text-align: center;
  }

  /* Bình thường / Bất thường */
  th:nth-child(3),
  th:nth-child(4),
  td:nth-child(3),
  td:nth-child(4) {
    // width: 250px;
    text-align: center;
  }

  /* Hover row */
  tbody tr:hover {
    // background-color: #3f3f3f;
  }

  /* Input trong bảng */
  :global(.ant-input) {
    // background-color: #1f1f1f;
    // border: 1px solid #555;
  }

  :global(.ant-input::placeholder) {
    color: #999;
  }

  /* Radio style */
  :global(.ant-radio-inner) {
    // background-color: #1f1f1f;
    border-color: #aaa;
  }

  :global(.ant-radio-checked .ant-radio-inner) {
    border-color: #4ea1ff;
  }

  :global(.ant-radio-inner::after) {
    background-color: #4ea1ff;
  }
}
